// app global css in SCSS form

.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
}
.slide-fade-enter,
.slide-fade-leave-active {
  opacity: 0;
  transform: translate(-10px, 0);
}
